<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <environments default="development">

        <environment id="development">
            <transactionManager type="JDBC"/>

            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://113.133.166.59:3306/product_order"/>
                <property name="username" value="root"/>
                <property name="password" value="TYY@shi@fei6"/>
            </dataSource>
        </environment>

    </environments>

    <mappers>
        <mapper resource="mapper/OrderDaoMapper.xml"/>
    </mappers>
</configuration>